.contact {   
  padding: 20px;
}

/* .sec_title h2 {
  margin-bottom: 20px;
} */

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactGifs{
  height: 40px;
  margin-right: 5px;
}
.gif-container{
  display: flex;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.items p {
  margin: 10px 0 0 0;
  text-align: center;
}

a#thecontactemail {
  text-align: center;
  display: inline-block;
}
.form-container {
  flex: 1;
  padding: 20px;
  background-color: white;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.form-container h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
.form-group {
  margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}
.contact-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.contact-details p {
  margin:0px;
}
.btn-submit {
  padding: 12px 20px;
  background-color: #ff4d7e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.thanks-for-contact-img{
  /* padding: 45px 0px;
  width: 100%; */
  height:350px;
}
.spinner-border{
  position: absolute;
  top:50%;
  right: 50%;
}
.contact-disable{
  filter: blur(1px);
  pointer-events: none;
}


@media only screen and (max-width: 765px) {

.contact-details{
  display: flex;
  flex-direction: column;
}
.contact{
  top: 53%;
}
}