.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: flex;
    /* align-items: center; */
  }
  
  .subtitle svg {
    margin-left: 10px;
    fill: #007bff;
  }
  
  .resume .education-content {
    margin-bottom: 1.5rem;
  }
  
  .resume ul {
    list-style-type: none;
    padding-left: 1rem;
  }
  .project-title{
    display: flex;
    flex-direction: column;
  }
  .resume ul li {
    margin: 0.25rem 0;
    line-height: 1.5;
  }
  .project-link{
    color:blue;
  }
  .project-link a{
    text-decoration: none;
    color:blue;
    padding-left: 10px;
  }
  
  .resume p {
    font-weight: bold;
  }
  
  .project{
    color: #9b9b9b;
  }